* {
  box-sizing: border-box;
}

html {
  background: #edeae2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button,
input {
  font: inherit;
}

button:disabled {
  cursor: not-allowed !important;
  opacity: 0.45;
}
